{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 15em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #87CEEB; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}!✅ </h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/home/cosrobs/spd/src/Controller/DefaultController.php</code></li>
        <li>Your template at <code>/home/cosrobs/spd/templates/default/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
